<% content_for :title, "Editing transaccion flotante" %>

<h1>Editing transaccion flotante</h1>

<%= render "form", transaccion_flotante: @transaccion_flotante %>

<br>

<div>
  <%= link_to "Show this transaccion flotante", @transaccion_flotante %> |
  <%= link_to "Back to transaccion flotantes", transaccion_flotantes_path %>
</div>
