<% content_for :title, "New transaccion flotante" %>

<h1>New transaccion flotante</h1>

<%= render "form", transaccion_flotante: @transaccion_flotante %>

<br>

<div>
  <%= link_to "Back to transaccion flotantes", transaccion_flotantes_path %>
</div>
