<div id="<%= dom_id balance %>">
  <p>
    <strong>Cuenta:</strong>
    <%= balance.cuenta.name %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= balance.saldo %>
  </p>

  <p>
    <strong>Lock version:</strong>
    <%= balance.lock_version %>
  </p>

</div>
