<% content_for :title, "Editing transaccion" %>

<h1>Editing transaccion</h1>

<%= render "form", transaccion: @transaccion %>

<br>

<div>
  <%= link_to "Show this transaccion", @transaccion %> |
  <%= link_to "Back to transacciones", transacciones_path %>
</div>
