<% content_for :title, "Editing movimiento" %>

<h1>Editing movimiento</h1>

<%= render "form", movimiento: @movimiento %>

<br>

<div>
  <%= link_to "Show this movimiento", @movimiento %> |
  <%= link_to "Back to movimientos", movimientos_path %>
</div>
