<p style="color: green"><%= notice %></p>

<% content_for :title, "Movimientos" %>

<h1>Movimientos</h1>

<div id="movimientos">
  <% @movimientos.each do |movimiento| %>
    <%= render movimiento %>
    <p>
      <%= link_to "Show this movimiento", movimiento %>
    </p>
  <% end %>
</div>

<%= link_to "New movimiento", new_movimiento_path %>
