<% content_for :title, "Editing cuenta" %>

<h1>Editing cuenta</h1>

<%= render "form", cuenta: @cuenta %>

<br>

<div>
  <%= link_to "Show this cuenta", @cuenta %> |
  <%= link_to "Back to cuentas", cuentas_path %>
</div>
